.button-swiper {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  box-sizing: border-box;
  border: 2px solid $blue-deep;
  padding-block: 14px;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  &--left {
    padding-left: 20px;
    padding-right: 28px;
    color: $blue-deep;
    transform-origin: left bottom;
    width: 125px;

    @include hover(transform, scale(1.05));

    @include desktop {
      padding-left: 24px;
      padding-right: 32px;
    }
  }

  &--right {
    padding-left: 28px;
    padding-right: 20px;
    color: $white;
    background-color: $blue-deep;
    transform-origin: right bottom;

    @include hover(transform, scale(1.02));

    @include desktop {
      padding-left: 32px;
      padding-right: 24px;
    }
  }

  @include tablet {
    font-weight: 500;
    font-size: 16px;
    padding-block: 16px;
    height: 56px;
  }

  @include desktop {
    font-weight: 700;
    font-size: 18px;
    padding-block: 22px;
    height: 72px;
  }

  &__icon {
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--left {
      background-image: url(../images/icons/caret-left.png);
    }

    &--right {
      background-image: url(../images/icons/caret-right.png);
    }

    @include tablet {
      height: 24px;
      width: 24px;
    }

    @include desktop {
      height: 28px;
      width: 28px;
    }
  }
}
