.media {
  &__content {
    padding-block: 64px;

    @include desktop {
      padding-block: 132px;
    }
  }

  &__title-block {
    margin-bottom: 32px;

    @include small {
      border-bottom: 1px solid $gray-medium;
      padding-bottom: 31px;
    }
  }

  &__video-block {
    @include tablet {
      display: flex;
    }
  }

  &__video {
    height: 220px;
    border-radius: 8px;
    background-image: url(../images/video-img.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;

    @include hover(transform, scale(0.995));

    @include tablet {
      height: 292px;
      width: 50%;
      flex-shrink: 0;
    }

    @include desktop {
      height: 392px;
    }
  }

  &__article {
    height: 193px;
    border-radius: 8px;
    border: 2px solid $gray-medium;
    box-sizing: border-box;
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-decoration: none;

    @include hover(transform, scale(0.995));

    @include tablet {
      height: 292px;
      padding: 32px;
    }

    @include desktop {
      height: 392px;
    }
  }

  &__header {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.015em;
    color: $black;

    @include tablet {
      font-size: 22px;
      letter-spacing: 0.016em;
    }

    @include desktop {
      font-size: 36px;
      letter-spacing: 0.0135em;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
  }

  &__text {
    font-weight: 300;
    letter-spacing: 0.016;
    color: $gray-dark;

    @include tablet {
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__icon {
    height: 56px;
    width: 56px;
    background-image: url(../images/icons/arrow-black-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include tablet {
      height: 48px;
      width: 48px;
    }

    @include desktop {
      height: 72px;
      width: 72px;
    }
  }
}
