@import 'mixins';

$black: #1c2f43;
$white: #ffffff;
$blue-light: #5a9bef;
$blue-deep: #0f5ebb;
$gray-light: #f6f7f9;
$gray-medium: #d0d0d0;
$gray-dark: #6b6b6b;
$yellow-gold: #ffd719;

$menu-card-gar: 32px;

//primary
// Deep Blue  #0F5EBB
// Golden Yellow  #FFD719
// Dark Navy  #1C2F43

// //secondary
// Light Blue  #5A9BEF
// Warm Yellow  #FFE46E

//neutral
// White  #FFFFFF
// Light Gray  #F6F7F9

//system
// Medium Gray  #D0D0D0
// Dark Gray  #6B6B6B
// Error  #D32F2F
// Success  #388E3C
// Warning  #FBC02D
