@import 'mixins';

$black: #1c2f43;
$white: #ffffff;
$blue-light: #5a9bef;
$blue-deep: #0f5ebb;
$gray-light: #f6f7f9;
$gray-medium: #d0d0d0;
$gray-dark: #6b6b6b;
$yellow-gold: #ffd719;
$yellow-warm: #ffe46e;

$menu-card-gar: 32px;
